.comment-user {
    font-family: 'Bitter', serif;
    font-size: 11px;
    color: gray;
    border-bottom: 1px dotted;
    border-color: gray;
    height: 20px;
    margin-bottom: 20px;
}

.comment-text {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}

.comment-text-title {
    color: black;
    font-family: 'Bitter', serif;
    margin-top: 20px;
}

.modal-title {
    font-family: 'Bitter', serif;
    background-color: rgb(43, 102, 112);
    color: white;
}

.past-comments-title {
    font-family: 'Bitter', serif;
    font-size: 16px;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

.modal-content {
    border-radius: 8px;
}

.modal-footer {
    height: 60px;
}

.comment-form-control {
    margin-bottom: -28px !important;
}

.close{
    color: white;
    opacity: 1;
}

.comment-submit {
    background-color: #e2aa00;
    border-width: 0;
}