.loading-spinner {
    position: absolute;
    left: 55%;
    top: 45%;
    font-size: 5em;
}

#pac-input {
    background-color: rgba(255, 255, 255, 0.8);
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 250px;
    top: 10px !important;
    border-style: solid;
    border-color: #5f95a1;
    border-radius: 4px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  .pac-container {
    font-family: 'Nunito', sans-serif;
  }

#infowindow-container {
    font-family: 'Nunito', sans-serif;
}

.infowindow-title {
    font-family: 'Bitter', serif;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.infowindow-category {
    font-family: 'Bitter', serif;
    font-weight: bold;
    margin-bottom: 5px;
}

#infowindow-data {
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
}

#carousel-image {
    width: 250px;
    height: 175px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.gm-style-iw {
    background-color: rgba(255, 255, 255) ;
    color: #3c4034;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    top: 0px !important;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
}

.haztype-flag {
    color: rgb(75, 75, 75);
    float: right;
    margin-top: 10px;
}

.view-comment {
    background-color: #e2aa00;
    border-width: 0;
    padding: 8px;
    font-size: 10px;
    font-family: 'Bitter', serif;
}

.btn-primary:hover {
    background-color: #a77d02;
    border-color: #a77d02;
}


#legend {
    font-family: 'Nunito', serif;
    background: rgba(52, 58, 64, 0.7);
    padding: 10px;
    margin: 10px;
    border-radius: 8px 8px 8px 8px;
    color: white;
}

#legend-item {
    margin: 3px;
}

#report-marker-icon {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    height: 40px;
}