.container {
    padding: 0px;
}

#sidebar {
    width: 275px;
    position: fixed;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #343a40;
    padding: 20px;
}

.sidebar-header {
    color: #fff;
    bottom: 10px;
}

.form-label {
    color: #fff;
}